(
    textures: [
        (
            path: "atlas.png",
            sprite_sheet: Heterogeneous (
                [
                    (
                        (80, 166),
                        (48, 74),
                    ),
                    (
                        (144, 166),
                        (48, 74),
                    ),
                    (
                        (64, 32),
                        (48, 48),
                    )
                ]
            ),
        ),
    ]
)